﻿@using Abp.Authorization.Roles
@using BonneyGroup.SSMS.Web.Startup
@model BonneyGroup.SSMS.Web.BGMP.Models.Operator.OperatorViewModel
@{
    ViewBag.CurrentPageName = PageNames.AdminDatasets; //The menu item will be active for this page.
    Layout = "~/Areas/bgmp/Views/Shared/_Layout.cshtml";
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Areas/BGMP/Datasets/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Areas/BGMP/Datasets/Index.js" asp-append-version="true"></script>
    </environment>
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @L("Datasets")
                </h2>
            </div>
            <div class="body table-responsive">

                <table class="table table-hover table-striped table-condensed" id="datasetGrid">
                    <thead>
                        <tr>
                            <th>@L("Id")</th>
                            <th>@L("JobName")</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>